.wrapper
  = render "shared/side_bar"
  .chat-main
    .main-header
      .main-header--left
        %h2.main-header--left__title
          = @group.name
        %ul.main-header--left__members
          Member：
          - @group.users.each do |group_member|
            %li.main-header--left__members__member
              = group_member.name
      .main-header--right      
        = link_to edit_group_path(@group[:id]), class: "main-header--right__button" do
          Edit
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: '      type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit', method: "post"